<h3>
    <input placeholder="Busqueda.." type="text" [(ngModel)] = "searchTag"/>
    <button (click)="goSearch()">Buscar</button>
</h3>
<p></p>
<div class="row">
    <div class="column">
      <h4>Actividades encontradas:</h4>
        <table style="width:75%"> 
          <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Tags</th>
          </tr>
          <tr *ngFor="let item of listaActividades">
            <td> {{item.titulo}}</td>
            <td> {{item.descripcion}}</td>
            <td> {{item.tags}}</td>
          </tr>
        </table>
    </div>
    <div class="column">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15">
          <agm-marker 
          *ngFor="let item of listaActividades"
            [longitude]="item.localizacion[1]"
            [latitude]="item.localizacion[0]"
            
          ></agm-marker>
      </agm-map>
    </div>  
</div>


<!--
  dentro del mapa marker inicial prueba de mostra dos puntos prederminados
   <agm-marker
    *ngFor="let item of lista"
      [latitude]="item.lati"
      [longitude]="item.longi"
    ></agm-marker>
-->
