<h2>Catalogo</h2>
<table>
  <tr>
    <th>Titulo</th>
    <th>Descripción</th>
    <th>Tags</th>
    <th>Opciones</th>
  </tr>
  <tr *ngFor="let item of lista">
    <td> {{item.titulo}}</td>
    <td> {{item.descripcion}}</td>
    <td> {{item.tags}}</td>
    <!-- <button (click)="modificarActivity(item)">Modificar</button>-->
    <td>
    <button [routerLink]="['/editarActividad',item.titulo]">Editar</button>
    <button (click)="eliminarActivity(item)">Eliminar</button>
    </td>
  </tr>
  
</table>


<!--
<ul>
  <li *ngFor="let element of listaAct; let i = index">
    {{i}}. {{element.titulo}}, {{element.descripcion}}
  </li>
</ul>
<button (click)="goBack()">go back</button>
-->

