<div>
  <label>Editar Perfil:
    <p></p>
    <table>
      <tr>
          <td>Nombre:</td> 
          <td><input [(ngModel)] = "usuario.nombre"/></td>           
      </tr>
      <tr>
        <td>Apellido:</td> 
        <td><input [(ngModel)] = "usuario.apellido"/></td>           
      </tr>
      <tr>
        <td>email:</td> 
        <td><input [(ngModel)] = "usuario.email"/></td>           
      </tr>
      <tr>
        <td>password:</td> 
        <td><input [(ngModel)] = "usuario.password"/></td>           
      </tr>
      <tr>
        <td>Tags:</td>
        <td>
          <input [(ngModel)] = "variable"/>
        </td>
        <td><button (click)="addTag()">Añadir</button></td>
      </tr>
      <tr>
        <td></td>
        <td>Tags añadidos: 
          <tr *ngFor="let item of usuario.tags">
            <td> - {{item}}</td>
          </tr>
          <button (click)="deleteTag()">Eliminar</button>
        </td>
      </tr>
    </table>
  </label>
</div>
<button (click)="goSave()">Save</button>
<button (click)="goBack()">Cancel</button>