<h4>Perfil de {{usuario.nick}}</h4>
<div class="row">
  <div class="column" align="right">
    <img class="foto" src= "../../assets/images/pitufo.png" >
  </div>
  <div class="column">
    <table align="left">
      <tr>
        <th>Nombre:</th> 
        <td>{{usuario.nombre}}</td>           
      </tr>
      <tr>
        <th>Apellido:</th> 
        <td>{{usuario.apellido}}</td>           
      </tr>
      <tr>
        <th>Email:</th> 
        <td>{{usuario.email}}</td>           
      </tr>
      <tr>
        <th>Tags:</th>
        <td> 
            <tr *ngFor="let item of usuario.tags">
                - {{item}}
            </tr>
        </td>
      </tr>
    </table>
  </div>
  <form align="center" class="crear">
    <button class="button1" routerLink="/editarPerfil">Editar Perfil</button>
  </form>

<!--<button (click)="goBack()">go back</button>-->