
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  table{
    width: 300px;
    border-collapse: collapse; /* Los bordes de la tabla se pegarán (mejor aspecto) */
    margin-top: 30px;
    border-collapse: collapse; /* Los bordes de la tabla se pegarán (mejor aspecto) */
    font-size: 18px;
  }


  .mat-form-field {
      font-size: 14px;
      width: 100%;
  }
  .column {
    float: left;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  .listar {
    font-size: 1.3em;
  }  
  .blanco{
    color: white;
  }
  .crear{
    margin-top:30px;
  }
  .foto{
    margin-right: 30px;
  }
  table{
    margin-top: 30px;
    border-collapse: collapse; /* Los bordes de la tabla se pegarán (mejor aspecto) */
  }
  h4 {
    color: black;
    text-align: center;
    margin-top: 25px;
    font-family: Arial;
    font-weight: bold;
  }
  .button1 {
    margin-top: 30px;
    background-color: rgb(39, 197, 224);
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
  } 
  .button2 {
    margin-top: 30px;
    background-color: rgb(250, 0, 0);
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
  } 