<h4>Crear Actividad:</h4>
  <table align="center">
    <tr>
      <th>Titulo:</th> 
      <td><input [(ngModel)] = "tituloAdd"/></td>           
  </tr>
  <tr><td></td><td><div *ngIf="alert2" style="color:#FF0000">Debes añadir un título.</div></td></tr>
  <tr>
    <th>Descripción:</th> 
    <td><input [(ngModel)] = "descripcionAdd"/></td>           
  </tr>
  <tr><td></td><td><div *ngIf="alert3" style="color:#FF0000">Debes añadir una descripción.</div></td></tr>
  <tr>
    <th>Tags:</th>
    <td>
      <input [(ngModel)] = "variable"/>
    </td>
    <td><button class="button2" (click)="addTag()">Añadir</button></td>
  </tr>
  <tr><td></td><td><div *ngIf="alert4" style="color:#FF0000">Debes añadir un Tag.</div></td></tr>
  <tr>
    <th>Tags añadidos:</th>
    <td>
      <tr *ngFor="let item of tagsAdd">
        <h1 class="blanco">-</h1>
        <td class="listar">- {{item}}</td>
        <button class="button3" (click)="deleteTag(item)">Eliminar</button>
      </tr>
    </td>
  </tr>
</table>
<div class="mapa" align="center">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15" (mapClick)="onChooseLocation($event)">
    <agm-marker 
        [longitude]="longitude"
        [latitude]="latitude"    
    ></agm-marker>
  </agm-map>
</div>


<form align="center" class="crear">
  <button class="button1" (click)="postActivity()">Crear</button>
</form>


<div *ngIf="alert1">
  <div class="alert alert-danger" role="alert">
    Faltan campos por rellenar!
  </div>
</div>

<!--<button (click)="goBack()">go back</button>-->