/* HeroDetailComponent's private CSS styles */
  label {
    display: inline-block;
    width: 15em;
    margin: 2em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  
  button {
    margin-left: 15px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  table{
    margin-top: 30px;
    border-collapse: collapse; /* Los bordes de la tabla se pegarán (mejor aspecto) */
    text-align: center;
  }
  h4 {
    color: black;
    text-align: center;
    margin-top: 25px;
    font-family: Arial;
    font-weight: bold;
  }
  .column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .listar {
    font-size: 1.3em;
  }  
  .blanco{
    color: white;
  }
  .crear{
    margin-top:30px;
  }
  /* Green */
  .button1 {
    background-color: #4CAF50;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  } 
  /* Blue */
  .button2 {background-color: rgb(0, 127, 186);}
  /* Red */ 
  .button3 {
    background-color: #f44336;
    margin-left: 5px;
    padding: 5px 7px;
  } 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */
