<div>
  <label>Crear Actividad:
    <p></p>
    <table>
      <tr>
          <td>Titulo:</td> 
          <td><input [(ngModel)] = "tituloAdd"/></td>           
      </tr>
      <tr>
        <td>Descripción:</td> 
        <td><input [(ngModel)] = "descripcionAdd"/></td>           
      </tr>
      <tr>
        <td>Tags:</td>
        <td>
          <input [(ngModel)] = "variable"/>
        </td>
        <td><button (click)="addTag()">Añadir</button></td>
      </tr>
      <tr>
        <td></td>
        <td>Tags añadidos: 
          <tr *ngFor="let item of tagsAdd">
            <td>- {{item}}</td>
          </tr>
        </td>
      </tr>
    </table>
  </label>
</div>

<button (click)="postActivity()">Crear</button><br>

<!--<button (click)="goBack()">go back</button>-->

