<div>
  <label>Editar Actividad:
    <p></p>
    <table>
      <tr>
          <td>Titulo:</td> 
          <td><input [(ngModel)] = "actividad.titulo"/></td>           
      </tr>
      <tr>
        <td>Descripcion:</td> 
        <td><input [(ngModel)] = "actividad.descripcion"/></td>           
      </tr>
      <tr>
        <td>Tags:</td>
        <td>
          <input [(ngModel)] = "variable"/>
        </td>
        <td><button (click)="addTag()">Añadir</button></td>
      </tr>
      <tr>
        <td></td>
        <td>Tags añadidos: 
          <tr *ngFor="let item of usuario.tags">
            <td> - {{item}}</td>
          </tr>
          <button (click)="deleteTag()">Eliminar</button>
        </td>
      </tr>
    </table>
  </label>
</div>
<button (click)="goSave()">Save</button>
<button (click)="goBack()">Cancel</button>